user = {{ sql_dovecot_user }}
password = {{ sql_dovecot_user_password }}
hosts = {{ sql_host }}:{{ sql_port }}
dbname = {{ sql_dovecot_db }}
query = SELECT policy, params FROM tlspolicies WHERE domain = '%s'
