yes_store_module Mail::SpamAssassin::BayesStore::MySQL
bayes_sql_dsn DBI:mysql:{{ sql_spamass_db }}:localhost
bayes_sql_username {{ sql_spamass_user }}
bayes_sql_password {{ sql_spamass_user_password }}
bayes_sql_override_username {{ dovecot_user }}
